<table data-refresh-every-n-seconds="60">
  <tr>
    <th>
      Website
    </th>
    <th>
      Uptime
    </th>
  </tr>
  <tr>
    <td>
      webtype.io
    </td>
    <td class="webtype">
      ~ ms
    </td>
  </tr>

  <tr>
    <td>
      owebboy.com
    </td>
    <td class="owebboy">
      ~ ms
    </td>
  </tr>

  <tr>
    <td>
      finance.galleryonthealley.net
    </td>
    <td class="finance">
      ~ ms
    </td>
  </tr>
</table>


<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
  var socket = io.connect();
  socket.emit('connected');

  var webtype = document.querySelector('.webtype');
  var owebboy = document.querySelector('.owebboy');
  var finance = document.querySelector('.finance');

  socket.on('update', function(data) {
    if (data.host === 'webtype.io') {
      if (data.time) {
        webtype.textContent = 'up (' + data.time + 'ms)';
        webtype.classList.add('up');
        webtype.classList.remove('down');
      } else {
        webtype.textContent = 'down';
        webtype.classList.add('down');
        webtype.classList.remove('up');
      }
    } else if (data.host === 'owebboy.com') {
      if (data.time) {
        owebboy.textContent = 'up (' + data.time + 'ms)';
        owebboy.classList.add('up');
        owebboy.classList.remove('down');
      } else {
        owebboy.textContent = 'down';
        owebboy.classList.add('down');
        owebboy.classList.remove('up');
      }
    } else if (data.host === 'finance.galleryonthealley.net') {
      if (data.time) {
        finance.textContent = 'up (' + data.time + 'ms)';
        finance.classList.add('up');
        finance.classList.remove('down');
      } else {
        finance.textContent = 'down';
        finance.classList.add('up');
        finance.classList.remove('down');
      }
    }
  });
</script>
